@page
@model IndexModel
@{
    ViewData["Title"] = "Bike E-commerce";
}

<div class="container-fluid p-0">

    <header class="header-bg ">
        <div class="container py-3">
            <div class="row align-items-center">

          
                <div class="col-lg-3">
                    <h2 class="logo mb-0">
                        🚴 Bike E-commerce
                    </h2>
                </div>

                
                <div class="col-lg-5">
                    <input class="form-control search-box"
                           type="text"
                           placeholder="Search bikes...">
                </div>


                <div class="col-lg-4 text-end">
                    <a asp-page="/Login" class="btn btn-outline-dark me-2">
                        Login
                    </a>

                 

                    <a href="#" class="btn btn-warning">
                        🛒 Cart
                    </a>

                </div>

            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">

            <aside class="col-lg-2 sidebar">

                <h4 class="mt-4 mb-3">Categories</h4>

                <div class="list-group">

                    <a href="#" class="list-group-item list-group-item-action">Mountain Bikes</a>
                    <a href="#" class="list-group-item list-group-item-action">Road Bikes</a>
                    <a href="#" class="list-group-item list-group-item-action">Electric Bikes</a>
                    <a href="#" class="list-group-item list-group-item-action">Kids Bikes</a>
                    <a href="#" class="list-group-item list-group-item-action">Hybrid Bikes</a>
                    <a href="#" class="list-group-item list-group-item-action">Accessories</a>
                    <a href="#" class="list-group-item list-group-item-action">Clothing</a>

                </div>

            </aside>

        
            <main class="col-lg-10 py-4">

                <h2 class="mb-4">Featured Bikes</h2>

                <div class="row g-4">

                    <div class="col-lg-4 col-md-6">
                        <div class="card h-100 shadow-sm">
                            <img src="~/images/bike1.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h4>Mountain Bike</h4>
                                <h5 class="text-success">$899</h5>
                                <button class="btn btn-primary w-100">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card h-100 shadow-sm">
                            <img src="~/images/bike2.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h4>Road Bike</h4>
                                <h5 class="text-success">$1299</h5>
                                <button class="btn btn-primary w-100">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card h-100 shadow-sm">
                            <img src="~/images/bike3.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h4>Electric Bike</h4>
                                <h5 class="text-success">$2499</h5>
                                <button class="btn btn-primary w-100">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </main>

        </div>
    </div>

</div>